DATA_PATH=/home/tramanan/data
USER=tramanan
# ==========================
# GLOBAL
# ==========================
DOMAIN_NAME=localhost
# =========================
# Ports
# =========================
FRONTEND_PORT=5173
BACKEND_PORT=3000
PGADMIN_PORT=5050
WAF_HTTP_PORT=8080
WAF_HTTPS_PORT=8081
# ==========================
# VAULT
# ==========================
VAULT_ADDR=https://vault:8200
# ==========================
# WAF (ModSecurity)
# ==========================
WAF_BLOCKING_PARANOIA=3
WAF_DETECTION_PARANOIA=3
WAF_MODSEC_RULE_ENGINE=On
WAF_MODSEC_AUDIT_ENGINE=On
WAF_MODSEC_REQ_BODY_ACCESS=On