# ==========================
# GLOBAL
# ==========================
DOMAIN_NAME=localhost
DATA_PATH=/home/tramanan/data
# =========================
# PostgreSQL
# =========================
POSTGRES_DB=transcendence
POSTGRES_USER=postgres
# =========================
# Ports de redirection
# =========================
FRONTEND_PORT=5173
BACKEND_PORT=3000
PGADMIN_PORT=5050
# =========================
# PgAdmin
# =========================
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_SERVER_NAME=portgres

# ==========================
# Vault address
# ==========================
VAULT_ADDR=http://vault:8200
# ==========================
# Vault token
# ==========================
VAULT_TOKEN=root
VAULT_DEV_ROOT_TOKEN_ID=root
VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200