# ==========================
# GLOBAL
# ==========================
DOMAIN_NAME=localhost
DATA_PATH=/home/login/data
USER=login
# =========================
# Ports de redirection
# =========================
GAMEHUB_PORT=8080

# =========================
# vault address
# =========================
VAULT_ADDR=https://vault:8200