JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=root
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=your_email@gmail.com